body {
    user-select: none;
    background-color: #ffffff;
    background-size: cover;
}

.index-links {
    position: fixed;
    top: 2%;
    left: 2%;
}

.index-links img {
    height: 5vh;
    width: auto;
    transition: 0.5s;
}

.index-links img:hover {
    transform: scale(0.8);
    transition: 0.5s;
}

.index-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 35vh;
    width: auto;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.index-logo:hover {
    height: 25vh;
    width: auto;
    transition: 0.5s;
}